.sidebar{
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .logo{
    width: 4rem;
    height: 4rem;
}

.sidebar .new-idea{
    background-color: var(--medium-blue);
    border-radius: 9999px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--dark-gray);
    font-size: 1.25rem;
    font-weight: 900;
    border: 0;
}

.sidebar .new-idea svg{
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}

.sidebar .new-idea:hover{
    filter: brightness(0.9)
}

.main-navigation{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-navigation a{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}

.main-navigation a.active{
    color: var(--medium-blue);
}

.main-navigation a svg{
    width: 2rem;
    height: 2rem;
}

@media (max-width: 780px){
    .sidebar{
        padding: 1.5rem 0.75rem;
        align-items: center;
    }

    .main-navigation a span{
        display: none;
    }

    .sidebar .new-idea span{
        display: none;
    }

    .sidebar .new-idea svg{
        display: block;
    }
}