*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --medium-blue: #1da1f2;
    --dark-gray: #2C3333;
    --medium-blue: #395B64;
    --medium-blue: #A5C9CA;
    --light-blue: #E7F6F2;
}

body{
    color: var(--dark-gray);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button{
    font: 400 1rem Roboto, sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
}